@-moz-viewport{width:device-width; scale:2;}
@-ms-viewport{width:device-width; scale:2;}
@-webkit-viewport{width:device-width; scale:2;}
@viewport{width:device-width; scale:2;}
html{
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
-text-size-adjust:100%;
}
#container, .content{
width:100%;
}
